

.header-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; 
  }
  
  
.search-form {
    display: flex;
    align-items: center;
  }
  .search-form .form-control {
    margin-right: 10px; 
  }
  

  .navbar-brand {
    margin-left: 20px;
  }